/* these variables are the "root" color values -- if you want to change anything, change it here */
:root {
	/* Base Colors */
	--black-rgb: 0, 0, 0;
	--white-rgb: 255, 255, 255;
	--red-rgb: 255, 51, 51;
	--green-rgb: 51, 204, 77;

	--counter-terrorists-fill-rgb: var(--black-rgb);
	--counter-terrorists-border-rgb: var(--black-rgb);
	--counter-terrorists-text-rgb: var(--black-rgb);

	--terrorists-fill-rgb: var(--black-rgb);
	--terrorists-border-rgb: var(--black-rgb);
	--terrorists-text-rgb: var(--black-rgb);

	--bomb-defused-fill-rgb: var(--black-rgb);
	--bomb-defusing-fill-rgb: var(--black-rgb);
	--bomb-exploded-fill-rgb: var(--black-rgb);
	--bomb-planted-fill-rgb: var(--black-rgb);

	/* Use-Case Specific Colors */
	--viewport-fill: #var(--black-rgb);
	--text-color: var(--black-rgb);
	--corner-color: var(--black-rgb);

	--progress-bar-fill-color-bomb: var(--black-rgb);

	--radar-inferno-flame-ct-fill: var(--black-rgb);
	--radar-inferno-flame-t-fill: var(--black-rgb);
	--radar-player-carrying-bomb-fill: var(--black-rgb);
	--radar-smoke-ct-fill: var(--black-rgb);
	--radar-smoke-t-fill: var(--black-rgb);

	--sidebar-bad-kd-ratio-text: var(--black-rgb);
	--sidebar-damage-taken-fill: var(--black-rgb);
	--sidebar-good-kd-ratio-text: var(--green);
	--sidebar-round-money-spent-text: var(--red);
	--sidebar-player-money-text: var(--green);

	--top-bar-clock-red-text: var(--red);
	--top-bar-maps-fill: var(--white-75);

	--focused-player-health-red-rgb: 150, 0, 0;
	--focused-player-health-red: rgb(var(--focused-player-health-red-rgb));
}
